# venv
.venv/

# Django/pycache
__pycache__/
*.py[cod]
*.sqlite3

# Media files
media/

# LanceDB Vector Store
lancedb/

# IDE/OS
.vscode/
.idea/
.DS_Store

# Migrations temporárias (opcional; costumo versionar)
# */migrations/*.pyc

# Env
.env
